#content .wiki-content a.user-mention,
#content .wiki-content a.user-mention.current-user-mention {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #0049B0;
  line-height: 14px;
  padding: 4px;
  border-radius: 3px;
}
#content .wiki-content a.user-mention {
  background-color: #D9E8FF;
}
#content .wiki-content a.user-mention:hover {
  background-color: #A6C9FF;
}
#content .wiki-content a.user-mention.current-user-mention {
  background-color: #FFEAA6;
}
#content .wiki-content a.user-mention.current-user-mention:hover {
  background-color: #FFDE73;
}
#content .wiki-content a.user-mention.current-user-mention::before {
  color: #0049B0;
}
#content .wiki-content ul.inline-task-list > li.checked > .current-user-mention,
#content .wiki-content ul.inline-task-list > li.checked > * > a.current-user-mention,
#content .wiki-content ul.inline-task-list > li.checked > .current-user-mention::before,
#content .wiki-content ul.inline-task-list > li.checked > * > a.current-user-mention::before {
  color: rgba(0, 0, 0, 0.4);
}
#content #main-content .toc-macro li.li1 {
  margin-left: 20px;
}
#content #main-content .toc-macro li.li2 {
  margin-left: 40px;
}
#content #main-content .toc-macro li.li3 {
  margin-left: 80px;
}
#content #main-content .toc-macro li.li4 {
  margin-left: 120px;
}
#content #main-content .toc-macro li.li5 {
  margin-left: 160px;
}
#content #main-content .toc-macro li.li6 {
  margin-left: 200px;
}
